fastapi
uvicorn[standard]
python-multipart
librosa
numpy
soundfile
firebase-admin
scipy
lameenc
pydub
noisereduce
google-genai
demucs
torch
torchaudio
torchcodec
huggingface_hub
requests
gradio_client
